:host {
  margin-left: 100px;
  width: 100%;

  @media screen and (max-width: 1000px) {
    margin-left: 10px;
  }
}

.scheduler-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
}

.scheduler-grid {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
}

.hour-column {
  width: 60px;
  flex-shrink: 0;
}

.scheduler-column {
  flex-shrink: 0;
  width: 100%;
}

.hour-cell {
  height: 60px;
  margin-bottom: 1px;
}

.scheduler-row {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.hour-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-right: 1px solid #eee;
}

.scheduler-row {
  position: relative;
  min-height: 60px;
}

.scheduler-cell {
  position: absolute;
  top: 0;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 4px;
  overflow: hidden;
  cursor: move;
  font-size: 0.8em;
  box-sizing: border-box;
}

.scheduler-details-list {
  flex: 1;
  padding: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.scheduler-row.cdk-drop-list-dragging
  .scheduler-cell:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
