:host {
  display: block;
  width: 400px;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

div[mat-dialog-actions] {
  display: flex;
  width: 100%;
}

button[mat-raised-button] {
  padding: 0 10px;
}
